@model BoardCockpit.Models.ImportNode

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form">
        <fieldset>
            <legend>ImportNode</legend>

            @Html.ValidationSummary(true)
            <div class="form-group">
                <label>
                    @Html.LabelFor(model => model.ImportID, "ImportID", htmlAttributes: new { @class = "control-label col-md-2" })
                </label>
                <div class="input-control text size10 block" data-role="input-control">
                    @Html.DropDownList("ImportID", String.Empty)
                    @Html.ValidationMessageFor(model => model.ImportID)
                </div>
            </div>

            <div class="form-group">
                <label>
                    @Html.LabelFor(model => model.ContextRef, htmlAttributes: new { @class = "control-label col-md-2" })
                </label>
                <div class="input-control text size10 block" data-role="input-control">
                    @Html.EditorFor(model => model.ContextRef)
                    @Html.ValidationMessageFor(model => model.ContextRef)
                </div>
            </div>

            <div class="form-group">
                <label>
                    @Html.LabelFor(model => model.UnitRef, htmlAttributes: new { @class = "control-label col-md-2" })
                </label>
                <div class="input-control text size10 block" data-role="input-control">
                    @Html.EditorFor(model => model.UnitRef)
                    @Html.ValidationMessageFor(model => model.UnitRef)
                </div>
            </div>

            <div class="form-group">
                <label>
                    @Html.LabelFor(model => model.Precision, htmlAttributes: new { @class = "control-label col-md-2" })
                </label>
                <div class="input-control text size10 block" data-role="input-control">
                    @Html.EditorFor(model => model.Precision)
                    @Html.ValidationMessageFor(model => model.Precision)
                </div>
            </div>

            <div class="form-group">
                <label>
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                </label>
                <div class="input-control text size10 block" data-role="input-control">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                <label>
                    @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                </label>
                <div class="input-control text size10 block" data-role="input-control">
                    @Html.EditorFor(model => model.Value)
                    @Html.ValidationMessageFor(model => model.Value)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </fieldset>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
