@model BoardCockpit.Models.ImportNode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="tile half bg-cyan">
        <div class="tile-content icon">
            <a href="@Url.Action("Index")">
                <i class="icon-undo"></i>
            </a>
        </div>
    </div>
    <div class="tile half bg-cyan">
        <div class="tile-content icon">
            <a href="@Url.Action("Edit", new { id = Model.ImportNodeID })">
                <i class="icon-pencil"></i>
            </a>
        </div>
    </div>
</div>
<div>
    <form>
        <fieldset>
            <legend>ImportNode</legend>
            <table>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Import.FileName)</strong></td>
                    <td>@Html.DisplayFor(model => model.Import.FileName)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.ContextRef)</strong></td>
                    <td>@Html.DisplayFor(model => model.ContextRef)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.UnitRef)</strong></td>
                    <td>@Html.DisplayFor(model => model.UnitRef)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Precision)</strong></td>
                    <td>@Html.DisplayFor(model => model.Precision)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Name)</strong></td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Value)</strong></td>
                    <td>@Html.DisplayFor(model => model.Value)</td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>

