@model BoardCockpit.Models.ImportNode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="tile half bg-cyan">
        <div class="tile-content icon">
            <a href="@Url.Action("Index")">
                <i class="icon-undo"></i>
            </a>
        </div>
    </div>
    <div class="tile half bg-cyan">
        <div class="tile-content icon">
            <a href="@Url.Action("Edit", new { id = Model.ImportNodeID })">
                <i class="icon-pencil"></i>
            </a>
        </div>
    </div>
</div>
<div>
    <h4>ImportNode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Import.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Import.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContextRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContextRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

    </dl>
</div>

