@model IEnumerable<BoardCockpit.Models.ImportNode>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => model.Import.FileName)
        </th>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => model.ContextRef)
        </th>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => model.UnitRef)
        </th>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => model.Precision)
        </th>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th style="text-align:left">
            Aktionen
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Import.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContextRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ImportNodeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ImportNodeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ImportNodeID })
        </td>
    </tr>
}

</table>
