@model BoardCockpit.Models.ContextContainer

@{
    ViewBag.Title = "Details";
}

@section CustomJS{
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">

    <!-- jQuery -->
    @*<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>*@

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#Context_Table').DataTable({
                searching: true,
                ordering: true
            });
        });
        $(document).ready(function () {
            $('#Context_Table2').DataTable({
                searching: true,
                ordering: true
            });
        });
    </script>
}

<h2>Details</h2>
<div class="row">
    <div class="tile half bg-cyan">
        <div class="tile-content icon">
            <a href="@Url.Action("Index")">
                <i class="icon-undo"></i>
            </a>
        </div>
    </div>
    <div class="tile half bg-cyan">
        <div class="tile-content icon">
            <a href="@Url.Action("Edit", new { id = Model.ContextContainerID })">
                <i class="icon-pencil"></i>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <form>
        <fieldset>
            <legend><strong>ContextContainer</strong></legend>
            <table>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Company.Name)</strong></td>
                    <td>@Html.DisplayFor(model => model.Company.Name)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Year)</strong></td>
                    <td>@Html.DisplayFor(model => model.Year)</td>
                </tr>
            </table>
        </fieldset>
    </form>


    @if (Model.Contexts.Count > 0)
    {
        <div class="panel" data-role="panel">
            <div class="panel-header bg-lightBlue fg-white">
                Contexts
            </div>
            <div class="panel-content">
                <table class="display" id="Context_Table">
                    <thead>
                        <tr>
                            <th style="text-align:left">
                                @Html.DisplayNameFor(model => model.Contexts.First().XbrlContextID)
                            </th>
                            <th style="text-align:left">
                                @Html.DisplayNameFor(model => model.Contexts.First().Type)
                            </th>
                            <th style="text-align:left">
                                @Html.DisplayNameFor(model => model.Contexts.First().FinancialDatas)
                            </th>
                            <th style="text-align:left">
                                Aktionen
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Contexts)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.XbrlContextID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FinancialDatas.Count)
                                </td>
                                <td>
                                    <div class="toolbar transparent">

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

    @if (Model.CalculatedKPIs.Count > 0)
    {
        <div class="panel" data-role="panel">
            <div class="panel-header bg-lightBlue fg-white">
                Calculated KPIs
            </div>
            <div class="panel-content">
                <table class="display" id="Context_Table2">
                    <thead>
                        <tr>
                            <th style="text-align:left">
                                @Html.DisplayNameFor(model => model.CalculatedKPIs.First().FormulaDetail.Formula.Name)
                            </th>
                            <th style="text-align:left">
                                @Html.DisplayNameFor(model => model.CalculatedKPIs.First().Value)
                            </th>
                            <th style="text-align:left">
                                Aktionen
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CalculatedKPIs)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FormulaDetail.Formula.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Value)
                                </td>
                                <td>
                                    <div class="toolbar transparent">

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>