<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetupView</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Allgemeine Verwaltung", "Index", "Companies")
        <p />
        @Html.ActionLink("Taxonomie", "Index", "Taxonomies")
        <p/>
        @Html.ActionLink("Imports", "Index", "Imports")
        <p/>
        @Html.ActionLink("Companies", "Index", "Companies")
        <p />
        @Html.ActionLink("Benutzerverwaltung", "Index", "Companies")
        <p />
        @Html.ActionLink("Rollenverwaltung", "Index", "Companies")
        <p />
        @Html.ActionLink("Kennzahlendefinition", "Index", "Companies")
        <p />
        @Html.ActionLink("Visuelle Darstellungen", "Index", "Companies")
        <p />        
    </div>
</body>
</html>
