@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<div class="grid fluid">
        <div class="row">
            <div class="span2">
<div style="margin-top: 20px">
    @*<button class="shortcut" onclick="location.href='@Url.Action("Index", "Taxonomies")'">
        <i class="icon-cog"></i>
        Rocket
        <small class="bg-cobalt fg-white">10</small>
    </button>
    <div>
        @Html.ActionLink("Allgemeine Verwaltung", "Index", "Companies")
        <p />
        @Html.ActionLink("Taxonomie", "Index", "Taxonomies")
        <p />
        @Html.ActionLink("Imports", "Index", "Imports")
        <p />
        @Html.ActionLink("Companies", "Index", "Companies")
        <p />
        @Html.ActionLink("Benutzerverwaltung", "Index", "Companies")
        <p />
        @Html.ActionLink("Rollenverwaltung", "Index", "Companies")
        <p />
        @Html.ActionLink("Kennzahlendefinition", "Index", "Companies")
        <p />
        @Html.ActionLink("Visuelle Darstellungen", "Index", "Companies")
        <p />
    </div>*@
</div>               