@model IEnumerable<BoardCockpit.Models.Unit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => model.XbrlUnitID)
        </th>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th style="text-align:left">
            Aktionen
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.XbrlUnitID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UnitId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UnitId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UnitId })
        </td>
    </tr>
}

</table>
