@model BoardCockpit.ViewModels.DashboardData
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="row no-phone no-tablet">
    @*<div class="span12">*@
    <div class="span3">
        <div class="tile double text-center bg-lightBlue">
            <span class="name text-bold fg-white">Kennzahl 1</span>
            <div class="brand bg-dark opacity">
                <span class="text fg-white">
                    <strong>Kurzerklärung der Kennzahl</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="tile double text-center bg-lightGreen">
            <span class="name text-bold fg-white">Kennzahl 2</span>
            <div class="brand bg-dark opacity">
                <span class="text fg-white">
                    <strong>Kurzerklärung der Kennzahl</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="tile double text-center bg-orange">
            <span class="name text-bold fg-white">Kennzahl 3</span>
            <div class="brand bg-dark opacity">
                <span class="text fg-white">
                    <strong>Kurzerklärung der Kennzahl</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="tile double text-center bg-lightRed">
            <span class="name text-bold fg-white">Kennzahl 4</span>
            <div class="brand bg-dark opacity">
                <span class="text fg-white">
                    <strong>Kurzerklärung der Kennzahl</strong>
                </span>
            </div>
        </div>
    </div>
@*</div>*@
</div>
<div class="row on-tablet no-phone no-large no-desktop">    
    <div class="span3">
        <div class="tile text-center bg-lightBlue span12">
            <span class="name text-bold fg-white">Kennzahl 1</span>
            <div class="brand bg-dark opacity">
                <span class="text fg-white">
                    <strong>Kurzerklärung der Kennzahl</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="tile text-center bg-lightGreen span12">
            <span class="name text-bold fg-white">Kennzahl 2</span>
            <div class="brand bg-dark opacity">
                <span class="text fg-white">
                    <strong>Kurzerklärung der Kennzahl</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="tile text-center bg-orange span12">
            <span class="name text-bold fg-white">Kennzahl 3</span>
            <div class="brand bg-dark opacity">
                <span class="text fg-white">
                    <strong>Kurzerklärung der Kennzahl</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="tile text-center bg-lightRed span12">
            <span class="name text-bold fg-white">Kennzahl 4</span>
            <div class="brand bg-dark opacity">
                <span class="text fg-white">
                    <strong>Kurzerklärung der Kennzahl</strong>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row on-phone no-large no-desktop no-tablet">
    <div class="span1"></div>
    <div class="span8">
        <div class="carousel" data-role="carousel" id="carouselPhone">
            <div class="slide">                
                <div class="tile double text-center bg-lightBlue">
                    <span class="name text-bold fg-white">Kennzahl 1</span>                    
                </div>                
            </div>
            <div class="slide">                
                <div class="tile double text-center bg-lightGreen">
                    <span class="name text-bold fg-white">Kennzahl 2</span>                    
                </div>                
            </div>
            <div class="slide">                
                <div class="tile double text-center bg-orange">
                    <span class="name text-bold fg-white">Kennzahl 3</span>                    
                </div>                
            </div>
            <div class="slide">                
                <div class="tile double text-center bg-lightRed">
                    <span class="name text-bold fg-white">Kennzahl 4</span>                    
                </div>               
            </div>
            <a class="controls left"><i class="icon-arrow-left-3"></i></a>
            <a class="controls right"><i class="icon-arrow-right-3"></i></a>
        </div>
        <script>
            $(function () {
                $("#carouselPhone").carousel({
                    height: 120,
                    width: 250,
                    duration: 1000,
                    effect: "slide",
                    show: false
                });
            })
        </script>
    </div>
    <div class="span1"></div>
</div>

<div class="no-tablet no-phone on-large on-desktop">
    <div class="row">
        <div class="span12">
            <div class="span6">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-lightBlue fg-white">
                        Grafik 1                        
                    </div>
                    <div class="panel-content">
                        <div class="input-control select">
                            @Html.DropDownList("Formulas1", null, new { @id = "Formulas1" })
                        </div>
                        <div id="divGraph1">
                            @Html.Action("AjaxLoadedChart", new { chartName = "chart" })
                        </div>
                            @*@(ViewBag.Chart)*@
                        </div>
                </div>
            </div>
            <div class="span6">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-lightBlue fg-white">
                        Grafik 2
                    </div>
                    <div class="panel-content">
                        <div class="input-control select">
                            @Html.DropDownList("Formulas2", null, new { @id = "Formulas2" })
                        </div>
                        <div id="divGraph2">
                            @Html.Action("AjaxLoadedChart", new { chartName = "chart2" })
                        </div>
                            @*@(ViewBag.Chart)*@
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="panel" data-role="panel">
                <div class="panel-header bg-lightBlue fg-white">
                    Grafik 3
                </div>
                <div class="panel-content">
                    <div class="input-control select">
                        @Html.DropDownList("Formulas3", null, new { @id = "Formulas3" })
                    </div>
                    <div id="divGraph3">
                        @(ViewBag.Chart)
                    </div>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="panel" data-role="panel">
                <div class="panel-header bg-lightBlue fg-white">
                    Grafik 4
                </div>
                <div class="panel-content">
                    <div class="input-control select">
                        @Html.DropDownList("Formulas4", null, new { @id = "Formulas4" })
                    </div>
                    <div id="divGraph4">
                        @(ViewBag.Chart)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="on-phone on-tablet no-desktop no-large">
    <div class="row">
        <div class="span12">

            <div class="panel" data-role="panel">
                <div class="panel-header bg-lightBlue fg-white">
                    Grafik 1
                </div>
                <div class="panel-content">
                    <div class="input-control select">
                        @Html.DropDownList("Formulas1", null, new { @id = "Formulas1" })
                    </div>
                    <div id="divGraph1">
                        @*@(ViewBag.Chart)*@
                        @Html.Action("AjaxLoadedChart", new { chartName = "chart" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="panel" data-role="panel">
                <div class="panel-header bg-lightBlue fg-white">
                    Grafik 2
                </div>
                <div class="panel-content">
                    <div class="input-control select">
                        @Html.DropDownList("Formulas2", null, new { @id = "Formulas2" })
                    </div>
                    <div id="divGraph2">
                        @(ViewBag.Chart)
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="span12">
            <div class="panel" data-role="panel">
                <div class="panel-header bg-lightBlue fg-white">
                    Grafik 3
                </div>
                <div class="panel-content">
                    <div class="input-control select">
                        @Html.DropDownList("Formulas3", null, new { @id = "Formulas3" })
                    </div>
                    <div id="divGraph3">
                        @(ViewBag.Chart)
                    </div>
                </div>
            </div>
        </div>
    </div>                
    <div class="row">
        <div class="span12">
            <div class="panel" data-role="panel">
                <div class="panel-header bg-lightBlue fg-white">
                    Grafik 4
                </div>
                <div class="panel-content">
                    <div class="input-control select">
                        @Html.DropDownList("Formulas4", null, new { @id = "Formulas4" })
                    </div>
                    <div id="divGraph4">
                        @(ViewBag.Chart)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#Formulas1').change(function () {
            var formulaId = $("#Formulas1").val();
            @*$("divGraph1").load('@Url.Action("AjaxLoadedChart", "Dashboard", new { chartName: "chart1", formulaID: formulaId })');*@
            @*$("divGraph1").load('@Url.Action("AjaxLoadedChart", "Dashboard", null, new { chartName: "chart1", formulaID: formulaId })')*@
            //$.post("/Dashboard/AjaxLoadedChart", { "chartName": "chart1", "formulaID": formulaId }, function (result) {

            //    $("divGraph1").append($(result));
            //    alert(formulaId);
            //});
            

            @*var $detailDiv = $('#divGraph1')
            url = $(this).data('@Url.Action("AjaxLoadedChart", "Dashboard", new { chartName = "chart1", formulaID = 1 })');

            $.get(url, function(data) {
                $detailsDiv.replaceWith(data);*@
            $.ajax({
                url: "/Dashboard/AjaxLoadedChart",
                type: "GET",
                data: { chartName: "chart1", formulaID: formulaId }
            })
            .done(function (partialViewResult) {
                $("#divGraph1").html(partialViewResult);
            });

            
        });
    });
</script>
    @*<script type="text/javascript">
    var categories;
    var chartdata;
    var chartData2 = [];
    var toYear = 2010;
    var fromYear = 2008;
    allVisits = [];


    //$.getJSON("GetPeriod", null, function (data) {
    //    arr = JSON.parse(data);
    //    alert(arr[0])
    //});
    $.ajax({
        type: "POST",
        url: "/Dashboard/SetPeriod",
        data: { _fromYear: fromYear, _toYear: toYear },
        dataType: 'html',
        success: function (html) {
            // never gets hit if EmptyResult();
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            // never gets hit until page navigation, which aborts this call
        }
    });

    $.getJSON("GetPeriod", { fromYear: "2008", toYear: "2010" }, function (data) {

        categories = data;
        chart.xAxis[0].setCategories(data);

    });

    //$.getJSON("GetCompanies", function (data2) {

    //$.each(data2, function (key2, val2 ) {
    SetChartData(chart);
    SetChartData(chart2);
    function SetChartData(chartName)
        @for(int i = 0; i < Model.Companies.Count(); i ++)
    {
        @:$.getJSON("GetAjaxLoadedChartData", { companyID: @Model.Companies.ElementAt(i).CompanyID, formulaID: "2", fromYear: "2008", toYear: "2010" },function (data) {
                                @:$.each(data, function (key, val) {
                                            @:var point = [];
                                            @:point.push(val.Year);
                                            @:point.push(val.Value);
                                            @:chartData2.push(point);
                                        @:});
                                @:if (chartData2.length > 0) {
                                        @:  chartname.addSeries({ name: '@Model.Companies.ElementAt(i).Name', data: chartData2 });//chart.addSeries({ name: '@Model.Companies.ElementAt(i).Name', data: chartData2 });
                                        @:}
                                @:chartData2 = [];
                            @:});
                }
</script>*@