@model BoardCockpit.ViewModels.DashboardData
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="row no-phone no-tablet">
    @*<div class="span12">*@
    <div class="span3">
        <div class="tile double text-center bg-lightBlue" >
            <h4 class="text fg-white">Kurzerklärung der Kennzahl</h4>
            <div style="padding-top:8px">
                <h2 class="name text-bold fg-white">Kennzahl 1</h2>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="tile double text-center bg-lightGreen">
            <h4 class="text fg-white">Kurzerklärung der Kennzahl</h4>
            <div style="padding-top:8px">
                <h2 class="name text-bold fg-white">Kennzahl 2</h2>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="tile double text-center bg-orange">
            <h4 class="text fg-white">Kurzerklärung der Kennzahl</h4>
            <div style="padding-top:8px">
                <h2 class="name text-bold fg-white">Kennzahl 3</h2>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="tile double text-center bg-lightRed">
            <h4 class="text fg-white">Kurzerklärung der Kennzahl</h4>
            <div style="padding-top:8px">
                <h2 class="name text-bold fg-white">Kennzahl 4</h2>
            </div>
        </div>
    </div>
@*</div>*@
</div>
<div class="row on-tablet no-phone no-large no-desktop">
    <div class="span3">
        <div class="tile text-center bg-lightBlue span12">
            <h4 class="text fg-white">Kurzerklärung der Kennzahl</h4>
            <div style="padding-top:8px">
                <h2 class="name text-bold fg-white">Kennzahl 1</h2>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="tile text-center bg-lightGreen span12">
            <h4 class="text fg-white">Kurzerklärung der Kennzahl</h4>
            <div style="padding-top:8px">
                <h2 class="name text-bold fg-white">Kennzahl 2</h2>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="tile text-center bg-orange span12">
            <h4 class="text fg-white">Kurzerklärung der Kennzahl</h4>
            <div style="padding-top:8px">
                <h2 class="name text-bold fg-white">Kennzahl 3</h2>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="tile text-center bg-lightRed span12">
            <h4 class="text fg-white">Kurzerklärung der Kennzahl</h4>
            <div style="padding-top:8px">
                <h2 class="name text-bold fg-white">Kennzahl 4</h2>
            </div>
        </div>
    </div>
</div>
<div class="row on-phone no-large no-desktop no-tablet">
    <div class="span1"></div>
    <div class="span8">
        <div class="carousel" data-role="carousel" id="carouselPhone">
            <div class="slide">                
                <div class="tile double text-center bg-lightBlue" style="padding-top:8px">
                    <h2 class="name text-bold fg-white">Kennzahl 1</h2>
                </div>                
            </div>
            <div class="slide">                
                <div class="tile double text-center bg-lightGreen" style="padding-top:8px">
                    <h2 class="name text-bold fg-white">Kennzahl 2</h2>
                </div>                
            </div>
            <div class="slide">                
                <div class="tile double text-center bg-orange" style="padding-top:8px">
                    <h2 class="name text-bold fg-white">Kennzahl 3</h2>
                </div>                
            </div>
            <div class="slide">                
                <div class="tile double text-center bg-lightRed" style="padding-top:8px">
                    <h2 class="name text-bold fg-white">Kennzahl 4</h2>
                </div>               
            </div>
            <a class="controls left"><i class="icon-arrow-left-3"></i></a>
            <a class="controls right"><i class="icon-arrow-right-3"></i></a>
        </div>
        <script>
            $(function () {
                $("#carouselPhone").carousel({
                    height: 120,
                    width: 250,
                    duration: 1000,
                    effect: "slide",
                    show: false
                });
            })
        </script>
    </div>
    <div class="span1"></div>
</div>

<div class="no-tablet no-phone on-large on-desktop">
    <div class="row">
        <div class="span12">
            <div class="span6">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-lightBlue fg-white">
                        Grafik 1                        
                    </div>
                    <div class="panel-content">
                        <div class="input-control select">
                            @Html.DropDownList("Formulas1", null, new { @id = "Formulas1" })
                        </div>
                        <div class="divchart1" id="divchart1">
                            @Html.Action("GetChartPartialView", new { chartName = "chart" })
                        </div>
                            @*@(ViewBag.Chart)*@
                        </div>
                </div>
            </div>
            <div class="span6">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-lightBlue fg-white">
                        Grafik 2
                    </div>
                    <div class="panel-content">
                        <div class="input-control select">
                            @Html.DropDownList("Formulas2", null, new { @id = "Formulas2" })
                        </div>
                        <div class="divchart2" id="divchart2">
                            @Html.Action("GetChartPartialView", new { chartName = "chart2" })
                        </div>
                            @*@(ViewBag.Chart)*@
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="panel" data-role="panel">
                <div class="panel-header bg-lightBlue fg-white">
                    Grafik 3
                </div>
                <div class="panel-content">
                    <div class="input-control select">
                        @Html.DropDownList("Formulas3", null, new { @id = "Formulas3" })
                    </div>
                    <div class="divchart3" id="divchart3">
                        @(ViewBag.Chart)
                    </div>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="panel" data-role="panel">
                <div class="panel-header bg-lightBlue fg-white">
                    Grafik 4
                </div>
                <div class="panel-content">
                    <div class="input-control select">
                        @Html.DropDownList("Formulas4", null, new { @id = "Formulas4" })
                    </div>
                    <div class="divchart4" id="divchart4">
                        @(ViewBag.Chart)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="on-phone on-tablet no-desktop no-large">
    <div class="row">
        <div class="span12">

            <div class="panel" data-role="panel">
                <div class="panel-header bg-lightBlue fg-white">
                    Grafik 1
                </div>
                <div class="panel-content">
                    <div class="input-control select">
                        @Html.DropDownList("Formulas1", null, new { @id = "Formulas1s" })
                    </div>
                    <div class="divchart1s" id="divchart1s">
                        @*@(ViewBag.Chart)*@
                        @Html.Action("GetChartPartialView", new { chartName = "chart" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="panel" data-role="panel">
                <div class="panel-header bg-lightBlue fg-white">
                    Grafik 2
                </div>
                <div class="panel-content">
                    <div class="input-control select">
                        @Html.DropDownList("Formulas2", null, new { @id = "Formulas2s" })
                    </div>
                    <div class="divchart2s" id="divchart2s">
                        @(ViewBag.Chart)
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="span12">
            <div class="panel" data-role="panel">
                <div class="panel-header bg-lightBlue fg-white">
                    Grafik 3
                </div>
                <div class="panel-content">
                    <div class="input-control select">
                        @Html.DropDownList("Formulas3", null, new { @id = "Formulas3s" })
                    </div>
                    <div class="divchart3s" id="divchart3s">
                        @(ViewBag.Chart)
                    </div>
                </div>
            </div>
        </div>
    </div>                
    <div class="row">
        <div class="span12">
            <div class="panel" data-role="panel">
                <div class="panel-header bg-lightBlue fg-white">
                    Grafik 4
                </div>
                <div class="panel-content">
                    <div class="input-control select">
                        @Html.DropDownList("Formulas4", null, new { @id = "Formulas4s" })
                    </div>
                    <div class="divchart4s" id="divchart4s">
                        @(ViewBag.Chart)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //$(document).ready(function () {

    //$('#Formulas1').change(function () {
    //    var formulaId = $("#Formulas1").val();
    //    replaceChart("chart1", formulaId);
    //    replaceChart("chart1s", formulaId);
    //});
    //$('#Formulas2').change(function () {
    //    var formulaId = $("#Formulas2").val();
    //    replaceChart("chart2", formulaId);
    //    replaceChart("chart2s", formulaId);
    //});
    //$('#Formulas3').change(function () {
    //    var formulaId = $("#Formulas3").val();
    //    replaceChart("chart3", formulaId);
    //    replaceChart("chart3s", formulaId);
    //});
    //$('#Formulas4').change(function () {
    //    var formulaId = $("#Formulas4").val();
    //    replaceChart("chart4", formulaId);
    //    replaceChart("chart4s", formulaId);
    //});
    //});

    function replaceChart(chartName, formulaId) {
        $.ajax
            ({
                url: "/Dashboard/GetChartPartialView",
                type: "GET",
                data: { chartName: chartName, formulaID: formulaId, fromYear: @Model.Filter.FromYear, toYear: @Model.Filter.ToYear, fromSize: @Model.Filter.FromSizeClass, toSize: @Model.Filter.ToSizeClass, industryNo: @Model.Filter.IndustryNo }
            }).done(function (partialViewResult) {
                $("#div" + chartName).html(partialViewResult);
            });
    };

    $("#Formulas1s").bind("change", function () {
        $("#Formulas1").val($(this).val()).change();
    });

    $("#Formulas1").bind("change", function () {
        var formulaId = $("#Formulas1").val();
        replaceChart("chart1", formulaId);
        replaceChart("chart1s", formulaId);
        $("#Formulas1s").val($(this).val());
    });

    $("#Formulas2s").bind("change", function () {
        $("#Formulas2").val($(this).val()).change();
    });

    $("#Formulas2").bind("change", function () {
        var formulaId = $("#Formulas2").val();
        replaceChart("chart2", formulaId);
        replaceChart("chart2s", formulaId);
        $("#Formulas2s").val($(this).val());
    });

    $("#Formulas3s").bind("change", function () {
        $("#Formulas3").val($(this).val()).change();
    });

    $("#Formulas3").bind("change", function () {
        var formulaId = $("#Formulas3").val();
        replaceChart("chart3", formulaId);
        replaceChart("chart3s", formulaId);
        $("#Formulas3s").val($(this).val());
    });

    $("#Formulas4s").bind("change", function () {
        $("#Formulas4").val($(this).val()).change();
    });

    $("#Formulas4").bind("change", function () {
        var formulaId = $("#Formulas4").val();
        replaceChart("chart4", formulaId);
        replaceChart("chart4s", formulaId);
        $("#Formulas4s").val($(this).val());
    });

    @*$("divGraph1").load('@Url.Action("AjaxLoadedChart", "Dashboard", new { chartName: "chart1", formulaID: formulaId })');*@
    @*$("divGraph1").load('@Url.Action("AjaxLoadedChart", "Dashboard", null, new { chartName: "chart1", formulaID: formulaId })')*@
    //$.post("/Dashboard/AjaxLoadedChart", { "chartName": "chart1", "formulaID": formulaId }, function (result) {

    //    $("divGraph1").append($(result));
    //    alert(formulaId);
    //});


    @*var $detailDiv = $('#divGraph1')
    url = $(this).data('@Url.Action("AjaxLoadedChart", "Dashboard", new { chartName = "chart1", formulaID = 1 })');

    $.get(url, function(data) {
        $detailsDiv.replaceWith(data);*@


    //var elements = document.getElementsByClassName("divGraph1");
    //var names = '';
    //for (var i = 0; i < elements.length; i++) {
    //    elements[i].html(partialViewResult);
    //}
    //$(".divGraph1").each(function (key, val) {
    //    //alert(key);
    //    //alert(val);
    //    //$(this).html(partialViewResult);
    //    $(val).html(partialViewResult);
    //});
    @*</script>

<script>*@
    var $img = $('<i class="child-opener-image icon-search icon-filter"></i>');
    function showFilter() {
        $.Dialog({
            overlay: true,
            shadow: true,
            flat: true,
            draggable: true,
            icon: $img,
            title: 'Filter',
            content: '',
            padding: 10,
            onShow: function (_dialog) {
                var content =
                    '<form name="FilterForm" action="Dashboard2">' +
                        '<table>' +
                            '<tbody>' +
                                '<tr>' +
                                    '<td colspan="2"><strong>Zeitraum</strong></td>' +
                                '</tr>' +
                                '<tr>' +
                                    '<td>Von</td>' +
                                    '<td>' +
                                        '<div class="input-control text size3 block" data-role="input-control">' +
                                            '<input class="text-box single-line" data-val="true" id="Filter_FromYear" name="FromYear" type="number" value="@Model.Filter.FromYear">' +
                                            '<button class="btn-clear"></button>' +
                                        '</div>' +
                                    '</td>' +
                                '</tr>' +
                                '<tr>' +
                                    '<td>bis</td>' +
                                    '<td>' +
                                        '<div class="input-control text size3 block" data-role="input-control">' +
                                            '<input class="text-box single-line" data-val="true" id="Filter_ToYear" name="ToYear" type="number" value="@Model.Filter.ToYear">' +
                                            '<button class="btn-clear"></button>' +
                                        '</div>' +
                                    '</td>' +
                                    '</tr>' +
                                    '<tr>' +
                                        '<td colspan="2"><strong>Firmengröße</strong></td>' +
                                    '</tr>' +
                                    '<tr>' +
                                        '<td>Von</td>' +
                                        '<td>' +
                                            '<div class="input-control text size3 block" data-role="input-control">' +
                                                '<input class="text-box single-line" data-val="true" id="Filter_FromSizeClass" name="FromSizeClass" type="number" value="@Model.Filter.FromSizeClass">' +
                                                '<button class="btn-clear"></button>' +
                                            '</div>' +
                                        '</td>' +
                                    '</tr>' +
                                    '<tr>' +
                                        '<td>bis</td>' +
                                        '<td>' +
                                            '<div class="input-control text size3 block" data-role="input-control">' +
                                                '<input class="text-box single-line" data-val="true" id="Filter_ToSizeClass" name="ToSizeClass" type="number" value="@Model.Filter.ToSizeClass">' +
                                                '<button class="btn-clear"></button>' +
                                            '</div>' +
                                        '</td>' +
                                    '</tr>' +
                                    '<tr>' +
                                        '<td><strong>Branche</strong></td>' +
                                        '<td>' +
                                            '<div class="input-control select size3 block" data-role="input-control">' +
                                                '<select id="IndustryID" name="IndustryID"><option value=""></option>' +
                                                @foreach (var item in @Model.Industries)
                                                {
                                                    if (@Model.Filter.IndustryNo == @item.IndustryKey) {
                                                        @:'<option selected value="@item.IndustryKey">@item.Name</option>' +
                                                                    }
                                                    else
                                                    {
                                                        @:'<option value="@item.IndustryKey">@item.Name</option>' +
                                                                    }
                                                }
                                                '</select>' +
                                        '</div>' +
                                    '</td>' +
                                '</tr>' +
                            '</tbody>' +
                        '</table>' +
                        '<div class="form-actions">' +
                            '<button class="button success">Anwenden</button>&nbsp;' +
                            '<button class="button" type="button" onclick="$.Dialog.close()">Abbrechen</button> ' +
                        '</div>' +
                    '</form>'

                $.Dialog.title("Filter")
                $.Dialog.content(content)
            }
        })
    }
    function testAction(fromYear, toYear) {
        alert(fromYear);
    }
</script>
    @*<script type="text/javascript">
    var categories;
    var chartdata;
    var chartData2 = [];
    var toYear = 2010;
    var fromYear = 2008;
    allVisits = [];


    //$.getJSON("GetPeriod", null, function (data) {
    //    arr = JSON.parse(data);
    //    alert(arr[0])
    //});
    $.ajax({
        type: "POST",
        url: "/Dashboard/SetPeriod",
        data: { _fromYear: fromYear, _toYear: toYear },
        dataType: 'html',
        success: function (html) {
            // never gets hit if EmptyResult();
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            // never gets hit until page navigation, which aborts this call
        }
    });

    $.getJSON("GetPeriod", { fromYear: "2008", toYear: "2010" }, function (data) {

        categories = data;
        chart.xAxis[0].setCategories(data);

    });

    //$.getJSON("GetCompanies", function (data2) {

    //$.each(data2, function (key2, val2 ) {
    SetChartData(chart);
    SetChartData(chart2);
    function SetChartData(chartName)
        @for(int i = 0; i < Model.Companies.Count(); i ++)
    {
        @:$.getJSON("GetAjaxLoadedChartData", { companyID: @Model.Companies.ElementAt(i).CompanyID, formulaID: "2", fromYear: "2008", toYear: "2010" },function (data) {
                                @:$.each(data, function (key, val) {
                                            @:var point = [];
                                            @:point.push(val.Year);
                                            @:point.push(val.Value);
                                            @:chartData2.push(point);
                                        @:});
                                @:if (chartData2.length > 0) {
                                        @:  chartname.addSeries({ name: '@Model.Companies.ElementAt(i).Name', data: chartData2 });//chart.addSeries({ name: '@Model.Companies.ElementAt(i).Name', data: chartData2 });
                                        @:}
                                @:chartData2 = [];
                            @:});
                }
</script>*@