@model BoardCockpit.Models.Report

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="tile half bg-cyan">
        <div class="tile-content icon">
            <a href="@Url.Action("Index")">
                <i class="icon-undo"></i>
            </a>
        </div>
    </div>
    <div class="tile half bg-cyan">
        <div class="tile-content icon">
            <a href="@Url.Action("Edit", new { id = Model.ReportID })">
                <i class="icon-pencil"></i>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <form>
        <fieldset>
            <legend>Report</legend>
            <table>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.AccordingToYearEnd)</strong></td>
                    <td>@Html.DisplayFor(model => model.AccordingToYearEnd)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.ReportType)</strong></td>
                    <td>@Html.DisplayFor(model => model.ReportType)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.XbrlContextRef)</strong></td>
                    <td>@Html.DisplayFor(model => model.XbrlContextRef)</td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
