@model BoardCockpit.Models.Report

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form">
        <fieldset>
            <legend>Report</legend>

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ReportID)

            <div class="form-group">
                <label>
                    @Html.LabelFor(model => model.AccordingToYearEnd, htmlAttributes: new { @class = "control-label col-md-2" })
                </label>
                <div class="input-control text size10 block" data-role="input-control">
                    @Html.EditorFor(model => model.AccordingToYearEnd)
                    @Html.ValidationMessageFor(model => model.AccordingToYearEnd)
                </div>
            </div>

            <div class="form-group">
                <label>
                    @Html.LabelFor(model => model.ReportType, htmlAttributes: new { @class = "control-label col-md-2" })
                </label>
                <div class="input-control text size10 block" data-role="input-control">
                    @Html.EditorFor(model => model.ReportType)
                    @Html.ValidationMessageFor(model => model.ReportType)
                </div>
            </div>

            <div class="form-group">
                <label>
                    @Html.LabelFor(model => model.XbrlContextRef, htmlAttributes: new { @class = "control-label col-md-2" })
                </label>
                <div class="input-control text size10 block" data-role="input-control">
                    @Html.EditorFor(model => model.XbrlContextRef)
                    @Html.ValidationMessageFor(model => model.XbrlContextRef)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </fieldset>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
