@model BoardCockpit.Models.GeneralSetting

@{
    ViewBag.Title = "Setup";
}

<h2>Setup</h2>
<div class="row">
    <div class="tile half bg-cyan">
        <div class="tile-content icon">
            <a href="@Url.Action("Index")">
                <i class="icon-undo"></i>
            </a>
        </div>
    </div>
</div>
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form">
            <fieldset>
                <legend>Setup</legend>
                @Html.ValidationSummary(true)

                @*<div class="form-group">*@
                    
                    @*<div class="input-control text size10 block" data-role="input-control" id="GeneralSettingID">*@
                        @if (Model != null)
                        {
                            <input id="GeneralSettingID" name="GeneralSettingID" type="hidden" value="@Model.GeneralSettingID" />
                        }
                    @*</div>*@
                @*</div>*@
                <div class="form-group">
                    <label>
                        @Html.LabelFor(model => model.CompanyID, "CompanyID", htmlAttributes: new { @class = "control-label col-md-2" })
                    </label>
                    <div class="input-control select size10 block" data-role="input-control">
                        @Html.DropDownList("CompanyID", String.Empty)
                        @Html.ValidationMessageFor(model => model.CompanyID)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </fieldset>
        </div>
    }
</div>
