@model IEnumerable<BoardCockpit.Models.ImportContainer>

@{
    ViewBag.Title = "Index";
}
@section CustomJS{
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">

    <!-- jQuery -->
    @*<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>*@

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                searching: true,
                ordering: true
            });
        });
    </script>
}
<h2>Index</h2>

<div class="tile half bg-cyan">
    <div class="tile-content icon">
        <a href="@Url.Action("Create")">
            <i class="icon-plus-2"></i>
        </a>
    </div>
</div>
<br />


<table class="display" id="table_id">
    <thead>
        <tr>
            <th style="text-align:left">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="text-align:left">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th style="text-align:left">
                Anzahl Dateien
            </th>
            <th style="text-align:left">
                Aktionen
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imports.Count)
                </td>
                <td>
                    <div class="toolbar transparent">
                        <button class="toolbar transparent" onclick="location.href='@Url.Action("IndexForContainer", "Imports", new { importContainerId = item.ImportContainerID }, null)'" data-hint="Öffnen|Klicken Sie zum Öffnen." data-hint-position="top">
                            <i class="icon-folder-2 on-left">
                            </i>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
