@model BoardCockpit.Models.FormulaDetail

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div class="row">
    <div class="tile half bg-cyan">
        <div class="tile-content icon">
            <a href="@Url.Action("Index")">
                <i class="icon-undo"></i>
            </a>
        </div>
    </div>
</div>
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form">
            <fieldset>
                <legend>FormulaDetail</legend>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label>
                        @Html.LabelFor(model => model.FormulaExpression, htmlAttributes: new { @class = "control-label col-md-2" })
                    </label>
                    <div class="input-control text size12 block" data-role="input-control">
                        @Html.EditorFor(model => model.FormulaExpression, new { htmlAttributes = new { @placeholder = "type text" }, })
                        @Html.ValidationMessageFor(model => model.FormulaExpression)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FormulaID, "FormulaID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("FormulaID", String.Empty)
                        @Html.ValidationMessageFor(model => model.FormulaID)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <table>
                            <tr>
                                @{
        int cnt = 0;
        List<BoardCockpit.ViewModels.AssignedFormulaDetailData> taxonomies = ViewBag.Taxonomies;

        foreach (var taxonomy in taxonomies)
        {
            if (cnt++ % 3 == 0)
            {
                @:
            </tr>
            <tr>
                                        }
                                        @:
                                        <td>
                                            <input type="checkbox"
                                                   name="selectedTaxonomies"
                                                   value="@taxonomy.TaxonomyID"
                                                   @(Html.Raw(taxonomy.Assigned ? "checked=\"checked\"" : "")) />
                                            @taxonomy.TaxonomyID @:  @taxonomy.TaxonomyName
                                            @:
                                        </td>
                                    }
                                    @:
                                </tr>
                                }
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </fieldset>
            </div>


    }

    <form>
        <fieldset>
            <legend>Legende</legend>
            <label>
                @Html.LabelFor(model => model.FormulaExpression, htmlAttributes: new { @class = "control-label col-md-2" })
            </label>
            <div class="input-control text size12 block">
                <input type="text" />
            </div>
        </fieldset>
    </form>
</div>
