@model BoardCockpit.Models.FormulaDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FormulaDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Formula.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formula.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormulaExpression)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormulaExpression)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FormulaDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
