@model IEnumerable<BoardCockpit.Models.FormulaDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Formula.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormulaExpression)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Formula.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormulaExpression)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FormulaDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FormulaDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FormulaDetailID })
        </td>
    </tr>
}

</table>
