@*@model BoardCockpit.Models.Import*@
@model BoardCockpit.ViewModels.ImportIndexData


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Import</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Import.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Import.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Import.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Import.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Import.Directory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Import.Directory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Import.Error)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Import.Error)
        </dd>

    </dl>
</div>

@if (Model.ImportNodes != null)
{
    <h3>Knoten des Imports:</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>ContextRef</th>
            <th>UnitRef</th>
            <th>Precision</th>
            <th>Value</th>
        </tr>
        @foreach (var item in Model.ImportNodes)
        {            
            <tr>
                <td>@item.Name</td>
                <td>@item.ContextRef</td>
                <td>@item.UnitRef</td>
                <td>@item.Precision</td>
                <td>@item.Value</td>
            </tr>
        }
    </table>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Import.ImportID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
