@*@model BoardCockpit.Models.Import*@
@model BoardCockpit.ViewModels.ImportIndexData


@{
    ViewBag.Title = "Details";
}
@section CustomJS{
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">

    <!-- jQuery -->
    @*<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>*@

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                searching: true,
                ordering: true,
                language: {
                    url: '//cdn.datatables.net/plug-ins/725b2a2115b/i18n/German.json'
                }
            });
        });
    </script>
}

<h2>Details</h2>
<div class="row">
    <div class="tile half bg-cyan">
        <div class="tile-content icon">
            <a href="@Url.Action("IndexForContainer", "Imports", new { importContainerId = Model.Import.ImportContainerID}, null)">
                <i class="icon-undo"></i>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <form>
        <fieldset>
            <legend>Import</legend>
            <table>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Import.FileName)</strong></td>
                    <td>@Html.DisplayFor(model => model.Import.FileName)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Import.Date)</strong></td>
                    <td>@Html.DisplayFor(model => model.Import.Date)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Import.Directory)</strong></td>
                    <td>@Html.DisplayFor(model => model.Import.Directory)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Import.Error)</strong></td>
                    <td>@Html.DisplayFor(model => model.Import.Error)</td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>

@if (Model.ImportNodes != null)
{
    <legend>Knoten des Imports:</legend>

    <div class="row"> 
    <table class="display" id="table_id">
        <thead>
            <tr>
                <th>Name</th>
                <th>ContextRef</th>
                <th>UnitRef</th>
                <th>Precision</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ImportNodes)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.ContextRef</td>
                    <td>@item.UnitRef</td>
                    <td>@item.Precision</td>
                    <td>@item.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>
}

