@model BoardCockpit.Models.Formula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="tile half bg-cyan">
        <div class="tile-content icon">
            <a href="@Url.Action("Index")">
                <i class="icon-undo"></i>
            </a>
        </div>
    </div>
    <div class="tile half bg-cyan">
        <div class="tile-content icon">
            <a href="@Url.Action("Edit", new { id = Model.FormulaID })">
                <i class="icon-pencil"></i>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <form>
        <fieldset>
            <legend>Formula</legend>
            <table>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Name)</strong></td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Description)</strong></td>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.ChartType)</strong></td>
                    <td>@Html.DisplayFor(model => model.ChartType)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Unit)</strong></td>
                    <td>@Html.DisplayFor(model => model.Unit)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.ToolTipDescription)</strong></td>
                    <td>@Html.DisplayFor(model => model.ToolTipDescription)</td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
