@model BoardCockpit.Models.TaxonomyFileNode

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TaxonomyFileNode</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.TaxonomyFileID, "TaxonomyFileID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TaxonomyFileID", String.Empty)
                @Html.ValidationMessageFor(model => model.TaxonomyFileID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NodeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NodeName)
                @Html.ValidationMessageFor(model => model.NodeName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LabelDE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LabelDE)
                @Html.ValidationMessageFor(model => model.LabelDE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TaxonomyID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TaxonomyID)
                @Html.ValidationMessageFor(model => model.TaxonomyID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
