@model BoardCockpit.Models.TaxonomyFile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaxonomyFile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Taxonomy.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxonomy.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullFilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullFilePath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaxonomyFileID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
