@model IEnumerable<BoardCockpit.Models.TaxonomyFile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => model.Taxonomy.Name)
        </th>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => model.Path)
        </th>
        <th style="text-align:left">
            @Html.DisplayNameFor(model => model.FullFilePath)
        </th>
        <th style="text-align:left">
            Aktionen
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Taxonomy.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullFilePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaxonomyFileID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaxonomyFileID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaxonomyFileID })
        </td>
    </tr>
}

</table>
