@model BoardCockpit.Models.FinancialData

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form">
        <fieldset>
            <legend>FinancialData</legend>

            @Html.ValidationSummary(true)
            <div class="form-group">
                <label>
                    @Html.LabelFor(model => model.Precision, htmlAttributes: new { @class = "control-label col-md-2" })
                </label>
                <div class="input-control text size10 block" data-role="input-control">
                    @Html.EditorFor(model => model.Precision)
                    @Html.ValidationMessageFor(model => model.Precision)
                </div>
            </div>

            <div class="form-group">
                <label>
                    @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                </label>
                <div class="input-control text size10 block" data-role="input-control">
                    @Html.EditorFor(model => model.Value)
                    @Html.ValidationMessageFor(model => model.Value)
                </div>
            </div>

            <div class="form-group">
                <label>
                    @Html.LabelFor(model => model.XbrlName, htmlAttributes: new { @class = "control-label col-md-2" })
                </label>
                <div class="input-control text size10 block" data-role="input-control">
                    @Html.EditorFor(model => model.XbrlName)
                    @Html.ValidationMessageFor(model => model.XbrlName)
                </div>
            </div>

            <div class="form-group">
                <label>
                    @Html.LabelFor(model => model.ContextID, "ContextID", htmlAttributes: new { @class = "control-label col-md-2" })
                </label>
                <div class="input-control text size10 block" data-role="input-control">
                    @Html.DropDownList("ContextID", String.Empty)
                    @Html.ValidationMessageFor(model => model.ContextID)
                </div>
            </div>

            <div class="form-group">
                <label>
                    @Html.LabelFor(model => model.UnitID, "UnitID", htmlAttributes: new { @class = "control-label col-md-2" })
                </label>
                <div class="input-control text size10 block" data-role="input-control">
                    @Html.DropDownList("UnitID", String.Empty)
                    @Html.ValidationMessageFor(model => model.UnitID)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </fieldset>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
