@model IEnumerable<BoardCockpit.Models.FinancialData>

@{
    ViewBag.Title = "Index";
}
@section CustomJS{
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">

    <!-- jQuery -->
    @*<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>*@

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                searching: true,
                ordering: true,
                language: {
                    url: '//cdn.datatables.net/plug-ins/725b2a2115b/i18n/German.json'
                }
            });
        });
    </script>
}
<h2>Index</h2>

<div class="tile half bg-cyan">
    <div class="tile-content icon">
        <a href="@Url.Action("Create")">
            <i class="icon-plus-2"></i>
        </a>
    </div>
</div>
<br />


<table class="display" id="table_id">
    <thead>
        <tr>
            <th style="text-align:left">
                @Html.DisplayNameFor(model => model.Context.XbrlContextID)
            </th>
            <th style="text-align:left">
                @Html.DisplayNameFor(model => model.Unit.XbrlUnitID)
            </th>
            <th style="text-align:left">
                @Html.DisplayNameFor(model => model.Precision)
            </th>
            <th style="text-align:left">
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th style="text-align:left">
                @Html.DisplayNameFor(model => model.XbrlName)
            </th>
            <th style="text-align:left">
                Aktionen
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Context.XbrlContextID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit.XbrlUnitID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.XbrlName)
                </td>
                <td>
                    <div class="toolbar transparent">
                        <button class="toolbar transparent" onclick="location.href='@Url.Action("Details", new { id = item.FinancialDataID })'" data-hint="Öffnen|Klicken Sie zum Öffnen." data-hint-position="top">
                            <i class="icon-folder-2 on-left">
                            </i>
                        </button>
                        <span class="divider"></span>
                        <button class="toolbar fg-red" onclick="location.href='@Url.Action("Delete", new { id = item.FinancialDataID })'" data-hint="Löschen|Klicken Sie zum Löschen." data-hint-position="top">
                            <i class="icon-remove">
                            </i>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
